h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--general-text-color);
    letter-spacing: 0.03em;
}