:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --general-text-color: #757575;
    --background-color: #2F303A;
    --title-text-color-dark-bcgr: #FFFFFF;
    --btn-bcgr-color: #188CE8;
    --secondary-logo-color: #000000;
    --border-color: #F5F4FA;
    --icon-color: #AFB1B8;

    --trans-dur-t-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}